<div class="page">

  <div class="container-fluid">
    <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-dark">
        <div class="row  mx-auto text-center">
          <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
            <img src="assets/images/pexels-laryssa-suaid-1667071.jpg"
              class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
          </div>
        </div>
      </div>
      <!-- The content half -->
      <div class="col-md-6 col-lg-6 col-xl-5 bg-white">
        <div class="login d-flex align-items-center py-2">
          <!-- Demo content-->
          <div class="container p-0">
            <div class="row">
              <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                <div class="card-sigin">
                  <div class="mb-5 d-flex"> <a href="index.html"><img src="assets/img/brand/favicon.png"
                        class="sign-favicon ht-40" alt="logo"></a></div>
                  <div class="card-sigin">
                    <div class="main-signup-header">
                      <h2>Welcome back!</h2>
                      <h5 class="font-weight-semibold mb-4">Please sign in to continue.</h5>
                      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
                        <div class="form-group">
                          <label for="email">Email</label> 
                          <input class="form-control" id="email" name="email" formControlName="email" placeholder="Enter your email"
                            type="email">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label> 
                          <input class="form-control" id="password" name="password" formControlName="password" placeholder="Enter your password"
                            type="password">
                        </div>
                        <button class="btn btn-dark btn-block">Sign In</button>
                      </form>
                      <div class="main-signin-footer mt-5">
                        <p><a href="">Forgot password?</a></p>
                        <p>Don't have an account? <a routerLink="register" class="text-dark">Create an Account</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End -->
        </div>
      </div><!-- End -->
    </div>
  </div>

</div>