.login-banner{
  background-image:linear-gradient(rgba(247, 243, 243, 0.233),#7f5c76);
  background-size:cover;
  background-position:center;
  width:100%;
  min-height:100vh;
  margin:0;
  padding-top: 2rem;
}
.loginForm{
  background-color: rgba(255, 255, 255, 0.562);
  padding: 2rem;
  color: #333;
}

.loginForm button, a{
  width: 100%;
  color: #fff;
}

.loginForm h1{
 font-family: 'Dancing Script', cursive;
 text-align: center;
}
