<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Home</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">

            <div class="row">
              <div class="col-lg-3 col-6">

                <div class="small-box bg-info">
                  <div class="inner">
                    <h3></h3>
                    <p>Total Orders</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                  <a href="/admin/orders" class="small-box-footer">More info <i
                      class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">

                <div class="small-box bg-success">
                  <div class="inner">
                    <h3></h3>
                    <p>Total Paid</p>
                  </div>
                  <div class="icon">
                    <i class="fa-solid fa-sack-dollar"></i>
                  </div>
                  <a href="/admin/orders" class="small-box-footer">More info <i
                      class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>



              <div class="col-lg-3 col-6">

                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3></h3>
                    <p>Orders Processing</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="/admin/orders/processing" class="small-box-footer">More info <i
                      class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>

            </div>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">

            <div class="row">
              <div class="col-lg-3 col-6">

                <div class="small-box bg-info">
                  <div class="inner">
                    <h3></h3>
                    <p>Total Orders</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                  <a href="/admin/orders" class="small-box-footer">More info <i
                      class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">

                <div class="small-box bg-success">
                  <div class="inner">
                    <h3></h3>
                    <p>Total Paid</p>
                  </div>
                  <div class="icon">
                    <i class="fa-solid fa-sack-dollar"></i>
                  </div>
                  <a href="/admin/orders" class="small-box-footer">More info <i
                      class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>



              <div class="col-lg-3 col-6">

                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3></h3>
                    <p>Orders Processing</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="/admin/orders/processing" class="small-box-footer">More info <i
                      class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>

            </div>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
